
body { font-family:Arial, Helvetica, sans-serif; }

.header {
    display: flex;
    align-items: center;
    width: 100%;
    background: none repeat scroll 0 0 #000000;
    position: fixed;
    
}

.header-center {
    margin: auto;
    display: flex;
    align-items: center;
    width: 70%;
    background: none repeat scroll 0 0 #000000;
}

.img {
    max-width: 20%;
    margin: auto;
    padding: 5px;
}

.header a {
    color: rgb(192, 192, 192);
    padding: 7px;
}

.search {
   
    padding: 5px;
    align-items: center;
    width: 40%;
    background: none repeat scroll 0 0 #000000;
}

.search input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #6c838f;
    width: 70%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 4px ;
}

.search button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#585858;
    width: 25%;
    height: 40px;
    border: none;
    
    border-radius: 4px ;
    
    background-color: #fcfcfc;
    margin-top: 10px;
}

.search button :hover {
    color: #ff8364;
}

.items-var {
    display: flex;
    padding: 5px;
    align-items: center;
    width: 35%;
    background: none repeat scroll 0 0 #000000;
}


.items-var a {
    display: block;
    text-decoration: none;
    color: #d8d8d8;
    margin-bottom: 3px;
}

.items-var a:hover {
    color: #ff8364;
}

.cat {
    margin: auto;
    text-align: center;
    padding: 10px;
}
.container {
    padding: 10px;
    width: 60%;
    border-radius: 8px;
    background: none repeat scroll 0 0 #f1f1f1;
}

.item {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: auto;
    background: none repeat scroll 0 0 #fafafa;
    border-radius: 8px;
    border: #000000;
}

.imagen {
    width: 60%;
    height: 500px;
    padding: 5px;
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 8px;
}

.imgp {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    height: 70%;
    padding: 5px;
}


.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 70%;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
    background: none repeat scroll 0 0 #ffffff;
}

.infop {
    width: 40%;
    height: 500px;
    padding: 5px;
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 8px;
}

.infoProducto {
    width: 98%;
    height: 25%;
    padding: 5px;
    margin: 5px;
    line-height : 13px;
    border-radius: 8px;
    background: none repeat scroll 0 0 #fafafa;
}

.envio {
    width: 98%;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    background: none repeat scroll 0 0 #fafafa;
}

select {
    width: 60px;
    height: 35px;
}

.añadir{
    width: 100%;
    height: 60px;
    align-items: center;
}

.añadir button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#ffffff;
    width: 70%;
    height: 35px;
    border: none;
    
    border-radius: 4px ;
    
    background-color:#ff7b5b;
    margin-top: 10px;
}

.coms {
    width: 100%;
    height: 45%;
    padding: 5px;
    align-items: center;
    border-radius: 4px ;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    background-color:#ffffff;
}

.res {
    margin: auto;
    width: 100%;
    height: 75%;
    border-radius: 8px;
    background: none repeat scroll 0 0 #ffffff;
    overflow-y: scroll;
}

.infoResenas {
    margin: 3px;
    padding: 5px;
    line-height : 10px;
    border-radius: 4px ;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
}

.insertCom {
    width: 40%;
    height: 20%;
    margin: auto;
    text-align: center;
    border-radius: 1px;
    background: none repeat scroll 0 0 #111111;
}

