<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/product.css" />
        <link rel="icon" href="/img/icono.ico" />    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DINONI-insertProducto</title>
    </head>
    <body>
        <div class="header">
            <div class="header-center">
                <img src="/img/logo.png" class="img">
                <div class="search">
                    <form id="searchform">
                        <input id = 'search'  name="search" type="text" placeholder="Busca productos">
                        <button>
                            <i class="fa fa-search" >Buscar</i>
                            </button>
                    </form>
                </div>
                <div class="items-var">
                    <a href="/login.html"><i class="fa fa-user"></i> Iniciar Sesión</a>
                    <a href="#"><i class="fa fa-user"></i> Mis Pedidos</a>
                    <a href="#"><i class="fa fa-heart"></i> Carrito</a>
                </div>
            </div>
        </div>
        <h1 style="padding: 12px;"><b>.</b></h1>

        <div class="container">
            <div class="item" th:each="producto : ${producto}">
                <div class="insertPro">
                    <h3>Inserta tu producto</h3>
                    <input id = 'nombre'  name="nombre" type="text" placeholder="Nombre" th:value="${producto.nombre}">
                    <input id = 'descripcion'  name="descripcion" type="text" placeholder="Descripcion" th:value="${producto.descripcion}">
                    <input id = 'precio'  name="precio" type="text" placeholder="Precio" th:value="${producto.precio}">
                    <input id = 'cantidad'  name="cantidad" type="text" placeholder="Cantidad" th:value="${producto.cantidad}">
                    <input id = 'estado'  name="estado" type="text" placeholder="Estado" th:value="${producto.estado}">
                    <input id = 'imagen'  name="imagen" type="text" placeholder="URLImagen" th:value="${producto.imagen}">
                </div>
            </div>
        </div>
    </body>
</html>
