<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="icon" href="/img/icono.ico" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nps</title>
    </head>

    <body>

        <div class="container">
            <div class ="row">
                <h1>Lista Nps</h1>>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Identificacion Usuario</th>
                    <th>Nombre Usuario</th>
                    <th>Satisfaccion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="np : ${nps}">
                    <td th:text="${np.id}"></td>
                    <td th:text="${np.producto}"></td>
                    <td th:text="${np.identificacionUsuario}"></td>
                    <td th:text="${np.nombreUsuario}"></td>
                    <td th:text="${np.satisfaccion}"></td>
                    <td>
                        <a th:href="@{/tienda/eliminarNps/{id}(id=${np.id})}">Eliminar</a>
                        <a th:href="@{/tienda/editarNps/{id}(id=${np.id})}" class="btn btn-warning">Editar</a>
                    </td>
                </tr>
            </tbody>
    </body>

</html>