<!DOCTYPE html>
<html>

<head>
    <title>DINONI-Compra</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/compra.css"/>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/img/icono.ico" />
</head>
<body style="background-color: #161515;">
    <div class="header">
        <div class="header-center">
            <img src="/img/logo.png" class="img">
            <a href="/tienda/viewProductos" style="color:white">Inicio</a>
        </div>
    </div>
    <div class="chat-container" style="text-align: center;">
        <img src="/img/agradecimiento.png" width="577" height="608">
    </div>
</body>
</html>
