<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/product.css" />
        <link rel="icon" href="/img/icono.ico" />    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DINONI-Producto</title>
    </head>
    <body>
        <div class="header">
            <div class="header-center">
                <img src="/img/logo.png" class="img">
                <div class="search">
                    <form id="searchform">
                        <input id = 'search'  name="search" type="text" placeholder="Busca productos">
                        <button>
                            <i class="fa fa-search" >Buscar</i>
                            </button>
                    </form>
                </div>
                <div class="items-var">
                    <a href="/login.html"><i class="fa fa-user"></i> Iniciar Sesión</a>
                    <a href="#"><i class="fa fa-user"></i> Mis Pedidos</a>
                    <a href="#"><i class="fa fa-heart"></i> Carrito</a>
                </div>
            </div>
        </div>
        <h1 style="padding: 12px;"><b>.</b></h1>
        <div class="container">
            <div class="item" th:each="producto : ${producto}">
                <div class="imagen">
                    <img th:src="${producto.imagen}" class="imgp">
                    <div class="nps">
                        <h5>Net Promoter Score Meter(en desarrollo)</h5>
                    </div>
                </div>
                <div class="infop">
                    <div class="infoProducto">
                        <b><p th:text="${producto.nombre}"></p></b>
                        <p th:text="${producto.descripcion}"></p>
                        <div style="display: flex;">
                            <b><p style="font-size: small;">COP$</p></b>
                            <b><p th:text="${producto.precio}"></p></b>
                        </div>
                        <div style="display: flex;">
                            <p style="font-size: small;">Estado: </p>
                            <p th:text="${producto.estado}" style="color:#ff7b5b; font-size: small;"></p>
                        </div>
                    </div>
                    <div class="envio">
                        <h3 style="font-size:140%;color:#00bd19;">Envío gratis</h3>
                        <div id="current_date"></p>
                            <script>
                                date = new Date();
                                day1 = date.getDate() + 1;
                                day2 = date.getDate() + 2;
                                document.getElementById("current_date").innerHTML = "Llega del " + day1 + " al " +  day2 + " de este mes.";
                            </script>
                        </div>
                    </div>
                    <div class="añadir">
                        <select name="cantidad" id="cantidad">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
                        <button> <i class="" >Añadir a carrito</i> </button> 
                    </div>
                    <div class="coms" >
                        <div class="res">
                            <div class="infoResenas" th:each="resena : ${resenas}">
                                <b><p th:text="${resena.nombreUsuario}" ></p></b>
                                <p th:text="${resena.fecha}" style="font-size: x-small;"></p>
                                <p th:text="${resena.comentario}"></p>
                            </div>
                        </div>
                        <div class="insertCom">
                            <form id="insertRes">
                                <input id = 'resena'  name="resena" type="text" placeholder="Opina sobre este producto">
                                <button> <i class="" >Enviar</i> </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
